<div class="container">
  <section class="first-section">
    <div class="section-1">
      <h1 class="main-text">
        <i
          >МЫ СДЕЛАЕМ<br />
          <span class="main-span">ГРЯЗНУЮ РАБОТУ</span><br />
          ЗА ВАС</i
        >
      </h1>
      <p class="text">
        Наши профессионалы справятся с любой рукой, от повседневной уборки до
        простой генеральной команды по уборке. Пусть грязная работа останется за
        нами, а вы — наслаждайтесь чистотой и комфортом. Просто сделаем заказ, и
        мы позаботимся обо всем!
      </p>
      <div class="main-buttons">
        <a href="https://t.me/kraner10101">
          <button class="order">Заказать клининг</button></a
        >
      </div>
    </div>

    <div class="years item">
      <h2 class="years-title">3+</h2>
      <p>успешных года</p>
    </div>

    <div class="clients item">
      <h2 class="years-title">1000+</h2>
      <p class="clients-subtitle">довольных клиентов</p>
    </div>

    <div class="workers item">
      <h2 class="years-title">50+</h2>
      <p class="clients-subtitle">активных сотрудников</p>
    </div>
  </section>

  <app-examples></app-examples>

  <section class="section-3">
    <h1 class="main-section-3">
      Наш клининг в <span class="main-span-3"> три шага</span>
    </h1>
    <div class="block">
      <div class="steps-item">
        <h1 class="steps-number">1</h1>
        <div>
          <p class="steps-number-text">шаг первый</p>
          <p class="step">
            Напишите нам в Telegram либо WhatsApp и выберите услугу клининга,
            которая вам нужна
          </p>
        </div>
      </div>
      <div class="steps-item">
        <h1 class="steps-number">2</h1>
        <div>
          <p class="steps-number-text">шаг второй</p>
          <p class="step">
            Наши сотрудники прибудут в указанное время и выполнют все
            необходимые работы
          </p>
        </div>
      </div>

      <div class="steps-item">
        <h1 class="steps-number">3</h1>
        <div>
          <p class="steps-number-text">шаг третий</p>
          <p class="step">
            После завершения уборки вы сможете насладиться чистотой и порядком в
            вашем помещении
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-3">
      <h1 class="second-main-text">
        Список <span class="second-main-span">наших услуг</span>
      </h1>
      <p class="text">
        Поддержите ваш дом или офис в идеальном состоянии с нашей регулярной
        уборкой, которая включает в себя все необходимые услуги для комфорта и
        чистоты.
      </p>
    </div>
    <div class="cleaning-block">
      <h1 class="cleaning-title">Основные виды клининговых услуг</h1>
      <div class="cleaning-list">
        <div class="cleaning-item">
          <h1 class="cleaning-subtitle">Уборка</h1>
          <p class="cleaning-text">
            <b>Офисная уборка</b> (поддержание чистоты рабочих мест, уборка
            кабинетов, коридоров, туалетов) <br /><b
              >Уборка торговых и развлекательных центров </b
            >
            (поддержание чистоты в зонах с высоким потоком людей).
          </p>
          <p class="cleaning-text">
            <b>Уборка промышленных объектов</b> (уборка производственных
            помещений, складов, уборка после аварий и прочее)
          </p>
        </div>
        <div class="cleaning-item">
          <h1 class="cleaning-subtitle">Cпециальные виды уборки</h1>
          <p class="cleaning-text">
            <b> Мытье окон и фасадов. Химчистка</b> ковров, мебели и других
            текстильных изделий
            <b>Дезинфекция и антибактериальная обработка помещений</b>будь то
            офисы, квартиры, магазины, медицинские учреждения, детские сады или
            фитнес-центры<br/><b> Уборка после мероприятий</b> (корпоративов,
            концертов , и пр.).
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-4">
      <h1 class="section-4-main-text">Наш бренд - наше качество!</h1>
      <p class="section-4-subtitle text">
        Наше лучшее качество это- безупречное обслуживание. Мы гордимся высоким
        стандартом наших услуг и стремимся к безупречному качеству в каждой
        детали
      </p>
    </div>
    <!-- <div class="value">
      <div class="value-list">
        <p class="value-item">
          <span class="value-span">Индивидуальный подход</span><br />
          <span class="mobile">
            Мы понимаем, что каждое пространство уникально, поэтому
            разрабатываем решения, которые идеально подходят именно вам. Наши
            услуги настраиваются в зависимости от ваших потребностей и
            пожеланий</span
          >
        </p>

        <p class="value-item">
          <span class="value-span">Качество и надежность: </span><br />
          <span class="mobile">
            Мы используем только проверенные и безопасные чистящие средства, а
            также современное оборудование, чтобы обеспечить высокие стандарты
            чистоты и безопасности.</span
          >
        </p>

        <p class="value-item">
          <span class="value-span">Профессиональная команда:</span> <br />
          <span class="mobile">
            Наши сотрудники — это квалифицированные и опытные специалисты,
            которые прошли тщательное обучение и постоянно повышают свои
            навыки.</span
          >
        </p>
        <p class="value-item">
          <span class="value-span">Ответственность и уважение </span> <br />
          <span class="mobile">
            Мы ценим ваше время и пространство, поэтому работаем аккуратно и
            внимательно. Мы всегда на связи, чтобы оперативно решать любые
            вопросы и корректировать планы по мере необходимости.</span
          >
        </p>
      </div>
    </div> -->
  </section>
  <app-questions></app-questions>
</div>
