*{
  overflow-y: hidden;
  overflow-x: hidden;
}
.block {
  border: 2px solid rgba(0, 148, 255, 1);
  margin: 0 auto;
  border-radius: 30px;
  width: 1280px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-2 {
  background-color: rgba(0, 148, 255, 1);
  border: none;
  margin: 0 auto;
  border-radius: 30px;
  width: 1280px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
h1 {
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(0, 148, 255, 1) 18%,
    rgba(0, 181, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1400px) {
  .block {
    width: 1000px;
  }
  .block-2 {
    width: 1000px;
  }
}
@media (max-width: 1080px) {
  .block {
    width: 700px;
  }
  .block-2 {
    width: 700px;
  }
}
@media (max-width: 600px) {
  h1 {
    justify-content: start;
  }

  .block {
    width: 400px;
    margin: 0;
  }
  .block-2 {
    width: 400px;
    margin: 0;
  }
}
