.container {
  width: 1280px;
  margin: 0 auto ;
}
@media (width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media (width: 1080px) {
  .container {
    width: 900px;
  }
}
@media (width: 930px) {
  .container {
    width: 600px;
  }
}
